.about {
  min-height: calc(100vh - 60px);
  gap: 50px;
  padding: 20px;
}
.about .intro {
  max-width: 600px;
  width: 100%;
  text-align: justify;
}
.about .profile {
  position: relative;
  overflow: hidden;
  max-width: 300px;
  height: 300px;
  width: 100%;
  border-radius: 100%;
  border: 5px solid black;
}
.about .profile img {
  width: 100%;
  transition: 1s ease-in-out;
}
.about .profile:hover img {
  transform: scale(1.2);
}
#skills > canvas {
  position: relative;
  max-width: 450px !important;
  max-height: 450px !important;
}
