nav {
  height: 70px;
  background: var(--c-pri);
  height: 60px;
  color: var(--c-sec);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
nav .logo {
  color: var(--accent);
}
nav .menu {
  display: flex;
  gap: 35px;
}
nav .menu a {
  color: var(--c-sec);
}
nav .menu a:hover {
  color: var(--accent);
  transition: 0.2s ease-in-out;
}
