nav {
  height: 70px;
  background: var(--c-pri);
  height: 60px;
  color: var(--c-sec);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: relative;
  z-index: 1;
}
nav .logo {
  color: var(--accent);
}
nav .menu {
  display: flex;
  gap: 35px;
}
nav .menu a {
  position: relative;
  color: var(--c-sec);
}
nav .menu a:hover {
  color: var(--accent);
  transition: 0.2s ease-in-out;
}
nav .menu a::after {
  content: "";
  display: block;
  background: var(--accent);
  height: 3px;
  width: 0%;
  border-radius: 5px;
  transition: 0.5s ease;
}
nav .menu a.active::after {
  content: "";
  display: block;
  background: var(--accent);
  height: 3px;
  width: 100%;
  border-radius: 5px;
}
