.socials {
  position: fixed;
  bottom: 30px;
  left: 30px;
  border-left: 4px solid var(--c-pri);
  border-bottom: 4px solid var(--c-pri);
  padding: 20px;
}

.socials .social-link {
  padding: 10px 20px;
  color: var(--accent);
  border-radius: 5px;
}
