.socials {
  position: absolute;
  bottom: 30px;
  left: 30px;
  border-left: 4px solid var(--c-sec);
  border-bottom: 4px solid var(--c-sec);
  padding: 20px;
}

.socials .social-link {
  padding: 10px 20px;
  color: var(--accent);
  border-radius: 5px;
}
.socials .social-link i {
  font-size: 25px;
}
