:root {
  --c-pri: black;
  --c-sec: #fff;
  --accent: rgb(95, 111, 255);
}
.light-theme {
  --c-pri: rgb(241, 241, 241);
  --sec: rgb(32, 32, 32);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-left {
  justify-content: flex-start;
}
.align-left {
  display: flex;
  align-items: flex-start;
}
.col {
  flex-direction: column;
}
.gap-2 {
  gap: 8px;
}
.gap-4 {
  gap: 16px;
}
@keyframes typing {
  15%,
  20%,
  25%,
  60%,
  30%,
  70%,
  40%,
  80% {
    border: none;
  }
  16%,
  21%,
  26%,
  61%,
  31%,
  71%,
  41%,
  81% {
    border-right: 2px solid white;
  }
  0%,
  10% {
    width: 0%;
  }
  70%,
  90% {
    width: 100%;
  }
}

@keyframes changeText {
  0% {
    content: "A Web Designer";
  }
  20% {
    content: "A Web Developer";
  }
  40% {
    content: "A Backend Developer";
  }
  60% {
    content: "An IT Student";
  }
  100% {
    content: "A Freelancer";
  }
  /* 100%{
    content: '';
  } */
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes borderBlink {
  15%,
  20%,
  25%,
  60%,
  30%,
  70%,
  40%,
  80% {
    border: none;
  }
  16%,
  21%,
  26%,
  61%,
  31%,
  71%,
  41%,
  81% {
    border-right: 2px solid white;
  }
}
#tsparticles {
  z-index: -1;
}
/* Cursor */

#cursor {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0.5px solid var(--accent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
  pointer-events: none;
  animation: pulse 0.5s infinite alternate;
  transform-origin: center;
}
#cursor::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  border: 5px solid rgba(128, 128, 128, 0.541);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cursor.highlight {
  transform: scale(3);
  transition: ease;
  border-style: dashed;
  animation: rotating 10s infinite;
  transform: translate(-50%, -50%);
}

#cursor.snap {
  animation: snap 0.2s;
}
@keyframes rotating {
  0% {
    transform: translate(-50%, -50%) scale(3) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(3) rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.7);
  }
}
@keyframes snap {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(2);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.3);
  }
}
