:root {
  --c-pri: black;
  --c-sec: #fff;
  --accent: rgb(95, 111, 255);
}
.light-theme {
  --c-pri: rgb(241, 241, 241);
  --sec: rgb(32, 32, 32);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  flex-direction: column;
}
